<h1>ajouter produit</h1>
<div>
<form>
  <p>nom de produit</p>
  <input name="name" placeholder="nom de produit" [(ngModel)]="newProd.name">
  <p>prix</p>
  <input name="price" placeholder="prix de produit" [(ngModel)]="newProd.price" >
  <p>categorie de produit</p>
  <input name="category" placeholder="categorie de produit" [(ngModel)]="newProd.category">
  <p>quantite de produit</p>
  <input name="stock" placeholder="stock" [(ngModel)]="newProd.stock">
  <button type="button" (click)="add()">Add</button>
</form>
</div>
<h1>liste produits</h1>
<input [(ngModel)]="filtree"  placeholder="chercher par nom" type="text" >
<table >
  <tr class="head">
    <th scope="col">Id</th>
    <th scope="col">Name <i class="bi bi-sort-up" (click)="sort('name')"></i></th>
    <th scope="col">Price <i class="bi bi-sort-up" (click)="sort('price')"></i></th>
    <th scope="col">Category <i class="bi bi-sort-up" (click)="sort('category')"></i></th>
    <th scope="col">Stock</th>
  </tr>
  <!-- [ngClass]="prod.stock > 0 ?'Norupture' : 'rupture' " -->
  <tr [appHighlightDirective]="prod.stock" *ngFor="let prod of products | filterPipe:filtree  | tri:triAvec">
    <td>{{prod.id}}</td>
    <td>{{prod.name }}</td>
    <td>{{prod.price | currency: 'EUR'}}</td>
    <td>{{prod.category}}</td>
    <td>{{prod.stock}}</td>
  </tr>
</table>
